html {
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

article,
nav {
  background-color: rgba(0, 0, 0, 0.9);
}

article > footer {
  background-color: rgba(0, 0, 0, 0.9);
  border-top: black solid 1px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

article > p {
  line-height: 1.6;
}
