html {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

article, nav {
    background-color: rgba(0, 0, 0, 0.8);
}

article>footer {
    background-color: rgba(0, 0, 0, 0.8);
    border-top: black solid 1px;
}